/TesteTipos/target/
/OlaMundoSwing/target/
/SomaSwing/target/
/OperadoresAritmeticos/target/
/OperadoresSwing/target/
/OperadorTernario/target/
/ComparacaoString/target/
/OperadoresLogicos/target/
/VerificadoIdadeSwing/target/
/ProgramaMedia/target/
